/* Rectangle 1 */

position: absolute;
width: 1360px;
height: 752px;
left: 40px;
top: 60px;

background: #FFFFFF;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);


/* M_Home Page */

position: absolute;
width: 375px;
height: 805px;
left: 545px;
top: 7929px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 358px;
height: 760.5px;
left: calc(50% - 358px/2 - 0.5px);
top: 22px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* We’re busy behind the scenes, crafting a platform to help you find the perfect hotel for your next adventure. From dream vacations to quick getaways, our new site will make booking easier, faster, and better than ever. Stay tuned your journey starts here! */

position: absolute;
width: 285px;
height: 226px;
left: 37px;
top: 519px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
/* or 133% */
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* We´re Building Something Amazing */

position: absolute;
width: 303px;
height: 66px;
left: 35px;
top: 51px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 110%;
/* or 33px */
text-align: center;
letter-spacing: 0.02em;

color: #000000;



/* wHdiJJ */

position: absolute;
left: 20%;
right: 24.44%;
top: 26.96%;
bottom: 41.66%;



/* Group */

position: absolute;
left: 20%;
right: 24.44%;
top: 26.96%;
bottom: 41.66%;



/* Vector */

position: absolute;
left: 20%;
right: 24.44%;
top: 26.96%;
bottom: 41.66%;

background: #FF395C;


/* Vector */

position: absolute;
left: 39.38%;
right: 43.74%;
top: 36.02%;
bottom: 56.06%;

background: #FF395C;


/* evolved books */

position: absolute;
width: 284px;
height: 31.9px;
left: calc(50% - 284px/2 - 0.5px);
top: 151px;



/* Vector */

position: absolute;
width: 16.35px;
height: 22.37px;
left: 312.65px;
top: 160.53px;

background: #FF395C;


/* Vector */

position: absolute;
width: 20.15px;
height: 31.33px;
left: 289.71px;
top: 151px;

background: #FF395C;


/* Vector */

position: absolute;
width: 20.88px;
height: 22.37px;
left: 263.36px;
top: 160.53px;

background: #FF395C;


/* Vector */

position: absolute;
width: 20.88px;
height: 22.37px;
left: 238.03px;
top: 160.53px;

background: #FF395C;


/* Vector */

position: absolute;
width: 19.74px;
height: 31.86px;
left: 213.86px;
top: 151px;

background: #FF395C;


/* Vector */

position: absolute;
width: 19.74px;
height: 31.86px;
left: 177.17px;
top: 151px;

background: #000000;


/* Vector */

position: absolute;
width: 19.95px;
height: 22.37px;
left: 152.78px;
top: 160.53px;

background: #000000;


/* Vector */

position: absolute;
width: 21.4px;
height: 21.24px;
left: 128.91px;
top: 161.09px;

background: #000000;


/* Vector */

position: absolute;
width: 9.33px;
height: 31.74px;
left: 118.19px;
top: 151px;

background: #000000;


/* Vector */

position: absolute;
width: 20.88px;
height: 22.37px;
left: 91.84px;
top: 160.53px;

background: #000000;


/* Vector */

position: absolute;
width: 21.4px;
height: 21.24px;
left: 67.97px;
top: 161.09px;

background: #000000;


/* Vector */

position: absolute;
width: 19.95px;
height: 22.37px;
left: 45px;
top: 160.53px;

background: #000000;


